<section class="featured-works">
  <div class="featured-works__container _container">
    <div class="featured-works__title">Featured works</div>
    <div class="featured-works__items works">
      <div class="works__item">
        <a href="#" class="works__image _ibg">
          <img src="../../img/Rectangle.png" alt="">
        </a>
        <article class="works__body">
          <div class="works__title">Designing Dashboards</div>
          <div class="works__info">
            <div class="works__yers">2020</div>
            <div class="works__category category">Dashboard</div>
          </div>
          <div class="works__text text">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit
            officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.</div>
        </article>
      </div>
      <div class="works__item">
        <a href="#" class="works__image _ibg">
          <img src="../../img/Aaa.png" alt="">
        </a>
        <article class="works__body">
          <div class="works__title">Designing Dashboards</div>
          <div class="works__info">
            <div class="works__yers">2020</div>
            <div class="works__category category">Dashboard</div>
          </div>
          <div class="works__text text">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit
            officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.</div>
        </article>
      </div>
      <div class="works__item">
        <a href="#" class="works__image _ibg">
          <img src="../../img/woman.png" alt="">
        </a>
        <article class="works__body">
          <div class="works__title">Designing Dashboards</div>
          <div class="works__info">
            <div class="works__yers">2020</div>
            <div class="works__category category">Dashboard</div>
          </div>
          <div class="works__text text">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit
            officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.</div>
        </article>
      </div>
    </div>
  </div>
</section>