<header class="header">
  <div class="header__content">
    <div class="header__content _container">
      <div class="header__menu menu">
        <div class="menu__icon icon-menu">
          <span></span>
          <span></span>
          <span></span>
        </div>
      </div>
      <nav class="menu__body">
        <ul class="menu__list flex --just-end --align-center">
          <li><a href="/" class="menu__link @@if(link==1){_active}">Home</a></li>
          <li><a href="/works.html" class="menu__link @@if(link==2){_active}">Works</a></li>
          <li><a href="/block.html" class="menu__link @@if(link==3){_active}">Blog</a></li>
          <li><a href="/article.html" class="menu__link @@if(link==4){_active}">Article</a></li>
        </ul>
      </nav>
    </div>
  </div>
</header>